{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./"],
        "extensions": [
          ".js",
          ".ios.js",
          ".android.js",
          ".native.js",
          ".web.js"
        ],
        "alias": {
          "services": "./services",
          "config": "./config",
          "components": "./components",
          "reduxFolder": "./redux"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
      ]
    }
  }
}
